<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class='jumbotron'>
      <h1>Your cart is empty.</h1>
      <div class="btn-group" style="padding-top: 35px">
        <%= link_to 'Go home', root_path, :class => "btn btn-info" %>
      </div>
    </div>
  </body>
</html>
